
<div class="single-experience" id="<%= experience.id %>" >

  <%= link_to "#{experience.user.username}", user_path(experience.user), 
              class: "single-user", id: "#{experience.user_id}"%>
              postet
  <%= link_to "#{experience.name}", experience_path(experience), 
              class: "single-experience-link" %>

  <!-- TODO : is this eagerloaded ? -->
  
  <% if experience.dishes %>
    <div id="<%= experience.id %>" class="owl-carousel">
      <%= render partial: experience.dishes %>
    </div>
  <% end %>

</div>