
<div class="single-experience" id="<%= experience.id %>" >

  <div class="experience-title">

  <%= link_to "#{experience.user.username}", user_path(experience.user),
              class: "single-user", id: "#{experience.user_id}"%>
              posted
  <%= link_to "#{experience.name}", experience_path(experience),
              class: "single-experience-link" %>


  </div>


  <% if experience.dishes %>
    <div id="<%= experience.id %>" class="owl-carousel carousel-container" >
      <%= render partial: experience.dishes, locals: {experience: experience} %>
    </div>
  <% end %>

</div>