<%= form_for @experience do |f| %>
  <input type="text" id="txtPlaces" style="width: 250px" placeholder="Enter a location" />
  <form>
    <input type="hidden" name="name" value=""/>
    <input type="hidden" name="street_number" value=""/>
    <input type="hidden" name="locality" value=""/>
    <input type="hidden" name="administrative_area_level_1" value=""/>
    <input type="hidden" name="postal_code" value=""/>
    <input type="hidden" name="formatted_phone_number" value=""/>
    <input type="hidden" name="website" value=""/>
  </form>

  <h4>Dishes:</h4>
  <%= f.fields_for @experience.dishes.build do |dish_form| %>
    <% @experience.dishes.each do |dish| %>
      <% if dish.errors.any? %>
        <div id = 'error_explanation'>
          <h2>
            <%= pluralize(dish.errors.count,'error') %> Prohibited this Dish from saving:
          </h2>
          <ul>
            <% dish.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    <p>
      <%= dish_form.label :Dish %>
      <%= dish_form.text_field :title %>
    </p>
    <p>
      <%= dish_form.label :Picture %>
      <%= dish_form.file_field :dishpicture %>
    </p>
    <p>
      <%= dish_form.label :Review %>
      <%= dish_form.text_area :review %>
    </p>

    <p>
      <input type="text" name="dish_location" placeholder="location"/>
    </p>
  <% end %>
  <%= f.submit %>
<% end %>