<%= form_for @experience do |f| %>

  <p>
    <%= f.label :Experience_Name %>
    <%= f.text_field :name %>
  </p>


  <h4>Dish:</h4>
  <%= f.fields_for @experience.dishes.build do |dish_form| %>
    <% @experience.dishes.each do |dish| %>
      <% if dish.errors.any? %>
        <div id = 'error_explanation'>
          <h2>
            <%= pluralize(dish.errors.count,'error') %> Prohibited this Dish from saving:
          </h2>
          <ul>
            <% dish.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    <div>
      Venue: <input id="pac-input" class="controls" type="text"/>
    </div>
    <p>
      <%= dish_form.label :Dish %>
      <%= dish_form.text_field :title %>
    </p>
    <p>
      <%= dish_form.label :Picture %>
      <%= dish_form.file_field :dishpicture %>
    </p>
    <p>
      <%= dish_form.label :Review %>
      <%= dish_form.text_area :review %>
    </p>
  <% end %>
  <%= f.submit %>
<% end %>