<h1>All Experiences</h1>
<% if @experiences %>
  <% if params[:user] %>
    <div><%= link_to 'Explore', experiences_path %></div>
  <% else %>
    <div><%= link_to 'My Experiences', experiences_path(user: "3") %></div>
  <% end %>
  <% @experiences.each do |experience| %>
    <%= link_to "#{experience.venue.name}", experience_path(experience) %>
    <% if experience.dishes %>
      <ul>
        <%= render partial: experience.dishes %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<div>
  <%= link_to 'New Experience', new_experience_path %>
</div>