<div>
  <%= @experience.name %> posted by: <%= link_to "#{@experience.user.username}", user_path(@experience.user) %>
</div>

<% if @experience.user == current_user %>
  <%= link_to 'Add another dish', new_experience_dish_path(@experience), data: {toggle: "modal", target: "#myModal-new-dish"} %>
<% end %>

<div>
  <%= link_to 'Edit Experience', edit_experience_path(@experience), data: {toggle: "modal", target: "#myModal-edit-exp"} %>
</div>
<div>
  <%= link_to 'Delete Experience', experience_path(@experience), method: :delete, data: {confirm: 'Are you sure?'} %>
</div>

<div id="myModal-new-dish" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div id="myModal-edit-exp" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<% if @experience.dishes %>
  <% @experience.dishes.each do |dish| %>
    <%= render partial: 'dishes/show', locals: {experience: @experience, dish: dish} %>
  <% end %>
<% end %>
