<div class="single-dish" id="<%= dish.id %>">
  <div class="dish-pic-container">

  	<% if dish.dishpicture.file? %>
  		<%= link_to image_tag(dish.dishpicture.url(:medium), class: 'dish-pic'), experience_path(experience)  %>
  		
  	<% else %>
  		<%= image_tag("No_image_available.svg", size: '500x500', class: 'dish-pic') %>
  		
  	<% end %>

  </div>
  <div class="appear-on-hover dish-description">
    <h3><%= dish.title %></h3>
    <p><%= dish.review.length > 40 ? dish.review[0..40] + "..." : dish.review %></p>
  </div>
</div>
