<%= bootstrap_form_for([@experience, @dish]) do |f| %>

  <% if @dish.errors.any? %>
    <div id = 'error_explanation'>
      <h2>
        <%= pluralize(@dish.errors.count,'error') %> Prohibited this Dish from saving:
      </h2>
      <ul>
        <% @dish.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="control-label required">Venue</label>
    <input class="controls form-control" type="text" is="autocomplete-input"/>
    <%= image_tag("powered-by-google-on-white.png", alt: 'powered by google') %>
  </div>

  <%= f.text_field :title, label: "Dish Name" %>
  
  <% if @dish.dishpicture.file? %>
    <%= image_tag @dish.dishpicture.url(:thumb) %>
  <% end %>

  <%= f.file_field :dishpicture, label: "Picture" %>
  <%= f.text_area :review, label: "Review" %>

  <%= f.submit %>
<% end %>