<!DOCTYPE html>
<html>
<head>
  <title>EatMeDrinkme</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD0aJPt5PYuQ1hyDTfhkw84CliWkiNA4nI"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <%= csrf_meta_tags %>
</head>
<body>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>


  <header>
    <div id="top-header">
      <div id='top-inner-header'>

        <div id="header-logo">

          <h1>EatMeDrinkMe</h1>

        </div>

        <div class="inner-header-user">
          <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>

        </div>

      </div>
    </div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Record a New Experience</h1>
      </div>
      <div class="modal-body">
        <%= render partial: 'experiences/form' %>
      </div>
      <div class="modal-footer">
        <%= link_to 'Back', experiences_path %>
      </div>
    </div>
  </div>
</div>

    <!-- TODO change to link to tags -->
    <div id="navigation-header">
      <% if current_user %>
      <div id="navigation-inner-header">
        <div class="nav-add-dish ">
          <%= link_to(image_tag("icons/1434924603_soup.svg", size: '28x28', alt: 'New Experience'), "#", data: {toggle: "modal", target: "#myModal"})  %>
        </div>
        <div class="nav-my-feed">
          <%= link_to(image_tag("icons/1434924614_home_house_local.svg", size: '28x28', alt: 'My Feed'), feed_users_path)  %>
        </div>
        <div class="nav-explore">
          <%= link_to(image_tag("icons/1434924592_compass.svg", size: '28x28', alt: 'Explore'), experiences_path)  %>
        </div>
        <div class="nav-my-experiences" id="<%= current_user.id %>">
          <%= link_to(image_tag("icons/1434924558_user_people_man_human_head_person.svg", size: '28x28', alt: 'My Experiences'), user_path(current_user)) %>
        </div>
      </div>
      <% end %>
    </div>
  </header>

  <div id="main">
    <div id="inner-main">
      <%= yield %>
    </div>
  </div>
  <footer>
    <div id="inner-footer">
      copyright 2015.
    </div>
  </footer>

</body>
</html>
